body{
    background-color: #EFF5F5;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    color: #497174;
    min-height:100vh; 
    margin:0; 
    position:relative;
}

body::after {
    content: '';
    display: block;
    height: 7rem; /* Set same as footer's height */
  }

h1{
    font-family: 'Amiri', serif;
    font-weight: 700;
    color: #000;
}

h2{
    font-size: 1.5rem;
    padding-bottom: 2%;
}

p {
    line-height: 2rem;
}

a.black{
    text-decoration:none;
    color: #000;
}

a.white{
    text-decoration: none;
    color:#fff;
}

a:hover{
    color: #000;
}

.box-style{
    padding: 3% 10% 1%;
    background-color: #D6E4E5;
}
/* Tytuł strony */

.title{
    font-family: 'Amiri', serif;
    letter-spacing: 0.5rem;
    font-size: 3rem;
}

/* Navbar */

.navbar{
    padding: 3% 0 0;
}

.nav-item {
    padding: 0 18px;
}

.dropdown-menu{
    background-color: #D6E4E5;
}

.chosen-site{
    color:#eb6440;
}

/* Stopka */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7rem;
}

.copyright{
    font-size: 0.8rem;
}

/* Button */
.solid-btn {
    color: #ffffff;
    background-color: #eb6440;
    font-size: 1rem;
    border: 1px solid #eb6440;
    border-radius: 0.5rem;
    padding: 2% 10%;
    letter-spacing: 1px;
    cursor: pointer;
}
.solid-btn:hover {
    color: #000000;
    border: 1px solid #eb6440;
}

.outline-btn {
    color: #000;
    font-size: 1rem;
    border: 1px solid #eb6440;
    border-radius: 0.5rem;
    padding: 2% 10%;
    letter-spacing: 1px;
    cursor: pointer;
}
.outline-btn:hover {
    color: #000000;
	background-color: #eb6440;
    border: 1px solid #eb6440;
}