.text-section{
    padding: 2% 25%;
}

/* Rejestracja */

.log-box{
    margin: 1% 0;
}

.solid-btn {
    color: #ffffff;
    background-color: #eb6440;
    font-size: 1rem;
    border: 1px solid #eb6440;
    border-radius: 0.5rem;
    padding: 2% 10%;
    letter-spacing: 1px;
    cursor: pointer;
}
.solid-btn:hover {
    color: #000000;
    border: 1px solid #eb6440;
}

.outline-btn {
    color: #000;
    font-size: 1rem;
    border: 1px solid #eb6440;
    border-radius: 0.5rem;
    padding: 2% 10%;
    letter-spacing: 1px;
    cursor: pointer;
}
.outline-btn:hover {
    color: #000000;
	background-color: #eb6440;
    border: 1px solid #eb6440;
}